<!--Hackville Project - Notester Html File - Edit Note Page
----Created by: Xiaoya Zou & Mihye Bang from Team Hamstarz
----Created on: Jan 14-15, 2022
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Add Notes</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    </link>
</head>

<body class="sub-screen">
    <header>

    </header>
    <main>
        <div>
            <form action="#" th:action="@{/redirect:/editNote}" method="post" th:object="${note}">
                <p>Title: <input type="text" th:field="*{title}"></p>
                <p>Date: <input type="text" th:field="*{date}"></p>
                <p>Course: <input type="text" th:field="*{course}"></p>
                <p>Note:</p>
                <textarea>Add a note here...</textarea><br>
                <input type="submit" value="Save">
                <button type="button">Cancel</button>
            </form>
        </div>
        <p><a href="/">Back to home</a></p>
    </main>
    <footer>The footer</footer>
</body>

</html>