<!--Hackville Project - Notester Html File - Index Page
----Created by: Team Hamstarz
----Created on: Jan 14-15, 2022
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Index Page</title>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"></link>
    </head>
    
<body>

  <div class="index-screen">

    <div class="index-left">
      <div class="navbar">
      <nav>
      <ul>
        <li><a href="signup.html">Sign Up</a></li>
        <li><a href="login.html">Login</a></li>
      <ul>
      </nav>
      </div>
      <div class="index-hammie-img">
        <img src="../image/notester-1@1.png">
        <p class="index-description">Notes & Productivity</p>
      </div>
    </div>

    <div class="index-right">
      <img src="https://images.unsplash.com/photo-1554325139-bbd006cd3e5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
    </div>
    </div>  
    <div class="index-footer">
    <footer>
      <p>Copy Right @ Team Hamstarz</p>
      <p>January 14-16, 2022 | Hackville</p>
    </footer>
  </div>

</body>

<!--</body>
    <header>
        <nav>
            <a href="#" th:href="@{/addNote}">Add new note</a><br>
            <a href="#">View notes</a><br>
            <a href="#">Become a member</a><br>
            <a href="#" th:href="@{/login}">login page</a><br>
        </nav>
    </header>
    <main>
        <p>Description about the app</p>
    </main>
    <footer>The footer</footer>
</body>-->

</html>
