<!--Hackville Project - Notester Html File - Login Page
----Created by: Team Hamstarz
----Created on: Jan 14-15, 2022
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" media="all" href="/static/style.css" th:href="@{/css/style.css}">
        </link>
    </head>

    <body>

        <div class="container-login">
            <form>
                <input type="text" class="credential-box" id="login-username" placeholder="Email/Username"><br/>
                <input type="text" class="credential-box" id="login-password" placeholder="Password"><br/>
                <a href="/userIndex" id="btn-login">Login</a>
            </form>
        </div>

    <div th:replace="fragments::footer"></div>
</body>
</html>