<!--Hackville Project - Notester Html File - signup.html
----Created by: Team Hamstarz
----Created on: Jan 14-15, 2022
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3%22%3E%22%3E">

<head>
    <title>Sign Up Page</title>
    <link rel=" stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    </link>
</head>

<body>

    <div class="container-credentials">
        <p class="plain-msg">Sign up now! 🐹</p>
        <div class="framebox">
            <form action="#">
                <input type="text" class="credential-box" id="signup-email" placeholder="Email" required><br />
                <input type="text" class="credential-box" id="signup-username" placeholder="Username" required><br />
                <input type="password" class="credential-box" id="signup-password" placeholder="Password"
                    required><br />
                <input type="password" class="credential-box" id="signup-password" placeholder="Repeat Your Password"
                    required><br />
                <input type="submit" id="btn-signup" formaction="#" value="Confirm">
                <input type="submit" id="btn-cancel" formaction="/" value="Cancel">
                <div class="account">Forget your password? <a href="/">>></a> </div>
                <div class="account">Already have an account? <a href="/login">>></a></div>
            </form>
        </div>
    </div>

    <div th:replace="fragments::footer" class="footer-property"></div>
</body>

</html>