<!--Hackville Project - Notester Html File - Index Page
----Created by: Team Hamstarz
----Created on: Jan 14-15, 2022
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>Welcome #1887 Hammie!</title>

  <link rel="stylesheet" type="text/css" media="all" href="/static/style_index.css" th:href="@{/css/style_index.css}">
  </link>
</head>

  <body>

    <header>
      <div class="header-content">

        <div class="user-center"></div>
        <a href="/addNote"><h2>Add a new note &#128218;</h2></a>
        <a href="/viewNote"><h2>View my notes &#9749; </h2></a>
        <a href="#"><h2>Connect to Hammie community &#128057;</h2></a>
        <a href="#"><h2>Edit my account &#10024; </h2></a>
        <a href="/"><h2>Log out &#128400; </h2></a>
  
      </div>
    </header>

    <div th:replace="fragments::footer"></div>

</body>
</html>