<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>view note Page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <header>
        <!--I am not sure about this part how to display the courses as navigation-->
        <nav th:each="course : ${courses}">
            <a href="#" th:text="${course}">Course names</a>
        </nav>
    </header>
    <main>
        <!-- need to fix the logic-->
        <div th:object="${note}">
            <ul>
                <li th:text="${note.title}">title</li>
                <li th:text="${note.date}">date</li>
                <li th:text="${note.content}">note</li>
            </ul>
            <a href="#" th:href="@{/viewEachNote}">view</a>
        </div>
        <p><a href="/">Back to home</a></p>
    </main>
    <footer>The footer</footer>
</body>

</html>